{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/add_style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/product_style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/imgareaselect-default.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery.imgareaselect-0.9.10/css/imgareaselect-animated.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery.imgareaselect-0.9.10/css/imgareaselect-deprecated.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery.imgareaselect-0.9.10/css/imgareaselect-default.css"/>
{% endblock %}
{% block js %}

    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-1.7.2.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.form.js"></script>
{#    <link rel="stylesheet" type="text/css" href="css/imgareaselect-default.css" />#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.imgareaselect.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.imgareaselect.pack.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.imgareaselect.min.js"></script>#}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.pack.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}javascript/add_product.js"></script>#}

{#    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-1.10.2.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-1.7.2.min.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.min.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.imgareaselect.pack.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.imgareaselect.min.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.imgareaselect.js"></script>#}
{% endblock %}
{% block title %}
    اضافه کردن محصول جدید
{% endblock %}
{% block main_content %}
<div class="main" dir="rtl">
    <img id="background-image" src="static/images/dark-wood-wallpaper.jpg" style="z-index: -1;"/>
{% block menu %}
    <div class="my_menu">
        <ul>
            <li class="li-header">
                بخش مدیریت اجناس
            </li>
            <li style="background-color: rosybrown">
                اضافه کردن محصول
                <i class="fa fa-arrow-left" style="margin-top: 2px; margin-right: 25px;"></i>
            </li>
            <li>
                <a href="{% url 'transactions' %}" style="color:ghostwhite; text-decoration: none">
                    مشاهده تراکنش ها
                </a>
            </li>
            <li>
                <a href="{% url 'edit-products' %}" style="color:ghostwhite; text-decoration: none">
                ویرایش محصولات
                </a>
            </li>
            <li>
                تعیین موجودی
            </li>
        </ul>
    </div>
{% endblock %}
    <ul class="breadcrumb my_crums add-pr">
        <li>
            <i class="icon-home icon-large"></i>
            <a href="/">
                ام اف شریف
            </a>
        </li>
        {% block breadcrum %}
            <li>
                <span class="divider">/</span>
                <a href="{% url 'addProduct' %}">
بخش مدیریت
                </a>
            </li>
        <li class="active">
            <span class="divider">/</span>
            اضافه کردن محصول جدید
        </li>
        {% endblock %}

    </ul>
    {% block  producer_main %}
    <div class="pr-add-form">

        <div class="pr-info-header">
            اضافه کردن محصول جدید:
        </div>
        <form action="submitProduct" method="post" name="myform" id="my-add-form" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="td-input">
                        نام محصول:
                    </td>
                    <td class="td-input">
                        <input class="span2" id="name-pr" type="text" name="name"
                               style="height: 15px; margin-top:5px;padding-top: 7px;padding-bottom: 7px ; text-align: center"/>
                    </td>
                </tr>
                <tr>
                    <td class="td-input">
                        قیمت:
                    </td>
                    <td class="td-input">
                        <input class="span2" id="price-pr" type="number" value='0' name="price" min='0'
                               style="height: 15px; margin-top:5px;padding-top: 7px;padding-bottom: 7px ; text-align: center;"/>
                        تومان
                    </td>
                </tr>
                <tr>
                    <td class="td-input">
                        دسته محصول:
                    </td>
                    <td class="id-input">
{#                        <div id="dropdown_toggle" class="btn-group" style="margin-right:10px; ">#}
{#                            <button id="select-button" class="span2 btn dropdown-toggle" data-toggle="dropdown"#}
{#                                    dir="rtl" style="border-radius: 5px; text-align: right">#}
{#                                <span class="caret" style="margin-left:8px"></span>#}
{#                                انتخاب دسته#}
{#                            </button>#}
{#                            <ul id="dropdown_ul" class="dropdown-menu">#}
{##}
{#                            </ul>#}
                        <div id="dropdown_toggle" class="btn-group" style="margin-right:10px;">
                            <button  id="select-button"  class="span2 btn dropdown-toggle" data-toggle="dropdown" dir="rtl" style="border-radius: 5px; text-align: right">
                                <span class="caret" style="margin-left:8px"></span>
                                انتخاب دسته
                            </button>
                            <ul id="dropdown_ul" class="dropdown-menu"style=" max-height:200px; overflow-y: auto;overflow-x: hidden;">

                            </ul>
                        </div>
                        <input id="cat"  type="hidden" name="category" value="0" />
{#                        </div>#}
{#                        <div id="dropdown_toggle" class="btn-group"style="margin-right:10px; ">#}
{#                            <button id="select-button" class="span2 btn dropdown-toggle" data-toggle="dropdown"#}
{#                                    dir="rtl" style="border-radius: 5px; text-align: right">#}
{#                                انتخاب دسته‌ها#}
{#                                <span class="caret"></span>#}
{#                            </button>#}
{#                            <ul id="dropdown_ul" class="dropdown-menu">#}
{##}
{#                            </ul>#}
{#                        </div>#}

                    </td>
                </tr>
                <tr>
                    <td class="td-input">
                        توضیح محصول:
                    </td>
                    <td class="td-input">
                        <input class="span5" id="info-pr" type="text" name="description"
                               style="height: 35px; margin-top:5px;padding-top: 7px;padding-bottom: 7px ; text-align: center"/>
                    </td>

                </tr>

{#                <tr>#}
{##}
{#                    <td class="td-input">#}
{#                        تصویر محصول:#}
{#                        <img src='{{ images.image.url }}' style="width:50px; height: 50px;">#}
{#                    </td>#}
{#                    <td class="td-input">#}
{##}
{#                    </td>#}
{#                </tr>#}
                <tr>

                    <td class="td-input">
                        تصویر محصول:
                    </td>
                    <td class="td-input" >
                        <input class="span3" type="file" id="files" name="files">
                    </td>
                </tr>
            </table>
            <input id="x1"  type="hidden" name="x1" value="0" />
            <input id="y1" type="hidden" name="y1" value="0" />
            <input id="w" type="hidden" name="w" value="300" />
            <input id="h" type="hidden" name="h" value="300" />
            <input id="hidden-image" type="hidden" name="image" value="0" />


        </form>

{#        <form id="imageForm">#}
{#            {% csrf_token %}#}
{#            <input class="span3" type="file" name="image" style="height:35px; margin-right: 120px; margin-top:-70px"#}
{#                   id="pro-img">#}
{#        <button class="my-submit" type="button" onclick="crop()">جداکردن عکس</button>#}
{#        <form action="{% url 'addProduct' %}" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <span class="td-input" style="margin-top: -100px;padding-top: -100px;">#}
{#                تصویر محصول:#}
{#            </span>#}
{#            <span>{{ form.non_field_errors }}</span>#}
{#            <span style="margin-right: 8px; margin-top: 10px; ">#}
{#                {{ form.docfile.errors }}#}
{#                {{ form.docfile }}#}
{#            </span>#}
{#            <p><input class="my-submit" type="submit" value="جداکردن عکس" /></p>#}
{#        <form id="imageForm">#}
{##}
{#        </form>#}
        <button class="my-submit2" style="margin-right: 120px; margin-top: 10px;"type="button" onclick="product_add()">ثبت محصول</button>


    </div>
    {% endblock %}
{#    <p style="font-family: bnazanin; font-size: 19px; font-weight: bold; position: absolute; right: 1090px; top: 170px; color:  white;">#}
{#        جداکردن عکس#}
{#    </p>#}
{##}
{#    <div id="imageSelect">#}
{#        <img src='{{ images.image.url }}' id="img-select" style="width:300px; height: 300px; position: relative"/>#}
{##}
{#    </div>#}
{#    <p style="font-family: bnazanin; font-size: 19px; font-weight: bold; position: absolute; right: 895px; top: 170px; color:  white;">#}
{#        عکس نهایی#}
{#    </p>#}
{##}
{#    <div id="final-image">#}
{#        <img src='{{ images.image.url }}' id="img-final" style="width:100px; height: 100px; position: relative; "/>#}
{#    </div>#}
{% block crop-image %}
    <p style="font-family: bnazanin; font-size: 19px; font-weight: bold; position: absolute; right: 1090px; top: 170px; color:  white;">
        جداکردن عکس
    </p>
    <div id="imageSelect" style="width:300px; height: 300px; overflow: hidden">
        <img src="{{ images.image.url }}" id="img-select" style="width:300px; height: 300px;"/>

    </div>
    <p style="font-family: bnazanin; font-size: 19px; font-weight: bold; position: absolute; right: 895px; top: 170px; color:  white;">
        عکس نهایی
    </p>
    <div id="final-image" style="width:100px; height: 100px; overflow: hidden" dir="ltr">
        <img src="{{ images.image.url }}" id="img-final" style="width:100px; height: 100px;"/>
    </div>
</div>
{% endblock %}

{% endblock %}
{% block js_very_end %}
    <script type="text/javascript" src="static/javascript/base.js"></script>
    <script type="text/javascript" src="static/javascript/add_product.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#img-select').imgAreaSelect({ aspectRatio: '1:1', handles: true , onSelectChange: preview,
                onSelectEnd: function (img, selection) {
                $('input[name="x1"]').val(selection.x1);
                $('input[name="y1"]').val(selection.y1);
                $('input[name="w"]').val(selection.x2);
                $('input[name="h"]').val(selection.y2);
            }});
        });
        function preview(img, selection) {
{#            alert("call");#}
            var scaleX = 100 / (selection.width || 1);
            var scaleY = 100 / (selection.height || 1);
            console.log("width:".concat(scaleX*300));
            console.log("height:".concat(scaleY*300));


            $('#img-final').css({
                width: (Math.round(scaleX * 300)) + 'px',
                height: (Math.round(scaleY * 300)) + 'px',
                marginLeft: '-' + Math.round(scaleX * selection.x1) + 'px',
                marginTop: '-' + Math.round(scaleY * selection.y1) + 'px'
            });
        }
        var fileBlobs = [];
        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object

            // Loop through the FileList and render image files as thumbnails.

            for (var i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }
                var reader = new FileReader();
{#                fileBlobs = reader.readAsBinaryString(f);#}
                // Closure to capture the file information.
                reader.onload = (function(theFile) {
                    return function(e) {
                        // Render thumbnail.
                        var s = document.getElementById("img-final").src = e.target.result;
                        var s = document.getElementById("img-select").src = e.target.result;
                        var s = document.getElementById("hidden-image").value = 1;
{#                        document.getElementById("hidden-image").value = e.target.result;#}
                        {#                        var span = document.createElement('span');#}
                        {#                        span.innerHTML = ['<img class="thumb" src="', e.target.result,#}
                        {#                            '" title="', escape(theFile.name), '"/>'].join('');#}
                        {#                        document.getElementById('list').insertBefore(span, null);#}
                    };
                    })(f);

                // Read in the image file as a data URL.
                reader.readAsDataURL(f);
            }
{#            var bb = new BlobBuilder();#}
{#            bb.appendfileBlobs.(fileBlobs);#}
{#            var name = "{{ MEDIA_URL }}images/products/test"#}
{#            alert(name);#}
{#            window.saveAs(bb.getBlob(), name);#}
        }

        document.getElementById('files').addEventListener('change', handleFileSelect, false);

    </script>


{% endblock %}