{% extends 'AddProduct.html' %}
{% block title %}
    مشاهده تراکنش ها
{% endblock %}
{% block menu %}
    <div class="my_menu">
        <ul>
            <li class="li-header">
                بخش مدیریت اجناس
            </li>
            <li>
                <a href="{% url 'addProduct2' %}" style="color:ghostwhite; text-decoration: none">
                    اضافه کردن محصول
                </a>
            </li>
            <li >

                <a href="{% url 'transactions' %}" style="color:ghostwhite; text-decoration: none">
                    مشاهده تراکنش ها
                </a>
            </li>
            <li style="background-color: rosybrown">
                    ویرایش محصولات
                <i class="fa fa-arrow-left" style="margin-top: 3px; margin-right: 40px;"></i>
            </li>
            <li>
                تعیین موجودی
            </li>
        </ul>
    </div>
{% endblock %}
{% block breadcrum %}
    <li>
        <span class="divider">/</span>
        <a href="{% url 'addProduct' %}">
            بخش مدیریت
        </a>
    </li>
    <li class="active">
        <span class="divider">/</span>
        لیست محصولات
    </li>
{% endblock %}

{% block  producer_main %}
    <div class="pr-add-form" style="height: 430px;">
    <div class="pr-info-header">
        لیست محصولات:
    </div>
    <div class="transaction-table" style="margin-top: 30px;max-height: 350px; overflow: auto; margin-left: 150px;margin-right: 100px;">
        <table class="table table-condensed" dir="rtl" style=" width: 800px;  ">
            <thead>
            <th class="trans_hd" style="width: 50px;">
                ردیف
            </th>
            <th class="trans_hd">

            </th>
            <th class="trans_hd">
                کد محصول
            </th>
            <th class="trans_hd">
                نام محصول
            </th>
            <th class="trans_hd">
                دسته
            </th>
            <th class="trans_hd">
                قیمت
            </th>
            <th class="trans_hd">
            </th>
            </thead>
            <tbody>
            {% for pr in products %}
                {% with forloop.counter as i %}
                <tr id="tr_{{ pr.pk }}">
                    <td class="trans_td"  style="width: 50px;">
                        {{ i }}
                    </td>
                    <td class="trans_td">
                        <img src="{{ pr.image.url }}" style="width: 50px;height: 50px">
                    </td>
                    <td class="trans_td">
                        {{ pr.pk }}
                    </td>
                    <td class="trans_td">
                        {{ pr.name }}
                    </td>
                    <td class="trans_td">
{{ pr.category.name }}
                    </td>
                    <td class="trans_td">
                        {{ pr.price }} تومان
                    </td>
                    <td class="trans_td">
                        <button class="info-button" type="button" style="margin-top: 5px; background-color: rgb(109, 68, 46); color:floralwhite;font-family: bnazanin;font-size: 15px; border:none;">
                            <a href="{% url 'editp' pr.pk %}" style="text-decoration: none; color: ghostwhite">
                                ویرایش
                            </a>
                        </button>
                        <button class="info-button" type="button" onclick="remove2('{{ pr.pk }}')" style="margin-top: 5px; background-color: rgb(109, 68, 46); color:floralwhite;font-family: bnazanin;font-size: 15px; border:none;">
                            حذف
                        </button>
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
{% block crop-image %}
{% endblock %}
{% block js_very_end %}
    <script type="text/javascript">
    function remove2(id){
        var temp = "tr_"+id;
        var tr = document.getElementById(temp);
        tr.parentNode.removeChild(tr);

        var removeProductUrl = "../removeProduct";
        $.ajax({
            url: removeProductUrl,
            type: 'get',
            dataType: 'json',
            data: {'id':id},
            success: function (data, status, xhr) {
                if (data.result == 0) {
                    alert("ajax error!");
                } else {
                    alert("کالای انتخابی با موفقیت از لیست کالاهای شما حذف شد!")
                }
            },
            error:function(){
                alert("ajax error!");
            }
            // ...
        });
    }
    function edit(){

    }
    </script>
{% endblock %}