{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/product_style.css">
{% endblock %}
{% block title %}
    مشخصات محصول
{% endblock %}
{% block main_content %}

<button id="show_similars" class="btn-small add-cart" data-toggle="popover">محصولات مشابه</button>

<div id="hidden_div">
    <div id="myCarousel_pop2" class="carousel slide" width="50%">
           <ol class="carousel-indicators">
              <li data-target="#myCarousel_pop2" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel_pop2" data-slide-to="1"></li>
              <li data-target="#myCarousel_pop2" data-slide-to="2"></li>
              <li data-target="#myCarousel_pop2" data-slide-to="3"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            {% if similars %}
                            {% for similar in similars %}
                                {% with forloop.counter as num_pop2 %}
                                    {% ifequal num_pop2 1 %}
                                        <div class="active item">
                                            <img src="{{ similar.picUrl }}" class="petit" >
                                            <p dir="rtl" class="carsoul-detail">
                                            {{ pro.description }}
                                            <br/>
                                            <br/>
                                            {{ pro.price }} تومان
                                            <br/>
                                            <br/>
                                            <a href="{{ similar.id }}" class="btn-mini add-cart"> مشخصات محصول</a>
                                            </p>
                                        </div>
                                    {% else %}
                                        <div class="item">
                                            <img src="{{ similar.picUrl }}" class="petit" >
                                            <p dir="rtl" class="carsoul-detail">
                                                {{ pro.description }}
                                                <br/>
                                                <br/>
                                                {{ pro.price }} تومان
                                                <br/>
                                                <br/>
                                                <a href="{{ similar.id }}" class="btn-mini add-cart"> مشخصات محصول</a>
                                            </p>
                                        </div>
                                    {% endifequal %}
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel_pop2" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel_pop2" data-slide="next">&rsaquo;</a>
        </div>

</div>

<div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">  محصولات پیشنهادی </h4>
      </div>
      <div class="modal-body">


       <div id="myCarousel_pop" class="carousel slide" width="50%">
           <ol class="carousel-indicators">
              <li data-target="#myCarousel_pop" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel_pop" data-slide-to="1"></li>
              <li data-target="#myCarousel_pop" data-slide-to="2"></li>
              <li data-target="#myCarousel_pop" data-slide-to="3"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            {% if recoms %}
                            {% for recom in recoms %}
                                {% with forloop.counter as num_pop %}
                                    {% ifequal num_pop 1 %}
                                        <div class="active item">
                                            <img src="{{ recom.image.url }}" class="carousel-img_pop" >
                                            <p dir="rtl" class="carsoul-detail">
                                            {{ pro.description }}
                                            <br/>
                                            <br/>
                                            {{ pro.price }} تومان
                                            <br/>
                                            <br/>
                                            <a href="{{ recom.pk }}" class="btn-mini add-cart"> مشخصات محصول</a>
                                            </p>
                                        </div>
                                    {% else %}
                                        <div class="item">
                                            <img src="{{ recom.image.url }}" class="carousel-img_pop" >
                                            <p dir="rtl" class="carsoul-detail">
                                                {{ pro.description }}
                                                <br/>
                                                <br/>
                                                {{ pro.price }} تومان
                                                <br/>
                                                <br/>
                                                <a href="{{ recom.pk }}" id="this_button" class="btn-mini add-cart"> مشخصات محصول</a>
                                            </p>
                                        </div>
                                    {% endifequal %}
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel_pop" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel_pop" data-slide="next">&rsaquo;</a>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">بستن پنجره</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="main">
    <img id="background-image" src="{{ STATIC_URL }}images/dark-wood-wallpaper.jpg" style="z-index: -1;"/>

    <div class="product-image">
        <ul class="breadcrumb my_crums">
            <li class="active">
                مشخصات محصول
            </li>
            <li>
                <span class="divider">/</span>
                <a href="../">
                    ام اف شریف
                    <i class="icon-home icon-large"></i>
                </a>
            </li>

        </ul>
        <a href="#openModal3"><img id="pr-image" src="{{ product.0.image.url }}"/></a>

        <div id="openModal3" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <img id="pr-image-big" src="{{ product.0.image.url }}"/>
            </div>
        </div>
        <p class="pr-name">
            {{ product.0.name }}
        </p>
        {% if not usr %}
            <button id="my-cart-add" class="btn-mini add-cart" onclick="add_cart('{{ product.0.pk }}')"> اضافه کردن به سبد</button>
        {% endif %}
    </div>
    <div class="product-info">
        <div class="pr-info-header">
            :مشخصات محصول
        </div>
        <div id="pr-info">
{{ product.0.description }}
        </div>
        <div class="pr-info-header2">
            : قیمت
        </div>
        <div id="pr-info-price" dir="RTL">
{{ product.0.price }}تومان
        </div>
    </div>
    <div class="product-comment">
        <div class="pr-info-header">
            : نظرات
        </div>
        <div class="new-comment">
            <span>
                {% if usr %}
                    <button id="submit-comment" onclick="add('{{ product.0.pk }}',false)">
                        ثبت نظر
                    </button>
                {% else %}
                    <button id="submit-comment" onclick="add('{{ product.0.pk }}',true)">
                        ثبت نظر
                    </button>
                {% endif %}
            </span>

            <input type="text" id="newComment" dir="rtl"/>
            <span id="nc">
                : نظر جدید
            </span>

        </div>
        <div>

            <span id="nc2">
            </span>
            <ul id="prev-comments" dir="RTL">
                {% if comments %}
                    {% for comment in comments %}
                        {% with forloop.counter as num %}
                        <li>
                            {{ comment.customer.user.first_name }}:{{ comment.comment }}
                            <p>
                                تاریخ: {{ comment.date.date }}
                            </p>
                        </li>
                        {% endwith %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

    </div>
</div>
</body>

    {% block js_very_end %}
        <script type="text/javascript" src= "{{ STATIC_URL }}javascript/product_detail.js"></script>


    {% endblock %}

          <script>
            var s = $('#hidden_div').html();
        $('#show_similars').popover({ placement: 'bottom' ,title: 'محصولات مشابه', content: s , html:true });
        </script>
{% endblock %}