{% extends 'AddProduct.html' %}
{% block title %}
    مشاهده تراکنش ها
{% endblock %}
{% block menu %}
    <div class="my_menu">
        <ul>
            <li class="li-header">
                بخش مدیریت اجناس
            </li>
            <li>
                <a href="{% url 'addProduct2' %}" style="color:ghostwhite; text-decoration: none">
                اضافه کردن محصول
                </a>
            </li>
            <li style="background-color: rosybrown">
                مشاهده تراکنش ها
                <i class="fa fa-arrow-left" style="margin-top: 3px; margin-right: 35px;"></i>
            </li>
            <li>
                <a href="{% url 'edit-products' %}" style="color:ghostwhite; text-decoration: none">
                    ویرایش محصولات
                </a>
            </li>
            <li>
                تعیین موجودی
            </li>
        </ul>
    </div>
{% endblock %}
{% block breadcrum %}
    <li>
        <span class="divider">/</span>
        <a href="{% url 'addProduct' %}">
            بخش مدیریت
        </a>
    </li>
    <li class="active">
        <span class="divider">/</span>
        مشاهده تراکنش ها
    </li>
{% endblock %}

{% block  producer_main %}
    <div class="pr-add-form" style="height: 430px;">
    <div class="pr-info-header">
        لیست تراکنش ها:
    </div>
    {% if market_products %}
    <div class="transaction-table" style=" margin-top: 30px;max-height: 300px; overflow: auto; margin-left: 150px;margin-right: 100px;">
        <table class="table table-condensed" dir="rtl" style=" width: 800px;  ">
            <thead>
                <th class="trans_hd" style="width: 50px;">
                    ردیف
                </th>
                <th class="trans_hd">

                </th>
                <th class="trans_hd">
                    کد محصول
                </th>
                <th class="trans_hd">
                    نام محصول
                </th>
                <th class="trans_hd">
                    نام خریدار
                </th>
                <th class="trans_hd">
                    تعداد
                </th>
                <th class="trans_hd">
                    قیمت
                </th>
                <th class="trans_hd" style="width: 100px;">
               تاریخ فروش
                </th>
            </thead>
            <tbody>
            {% for basket, pr, number in market_products %}
                {% with forloop.counter as i %}
                    <tr>
                        <td class="trans_td"  style="width: 50px;">
                            {{ i }}
                        </td>
                        <td class="trans_td">
                            <img src="{{ pr.image.url }}" style="width: 50px;height: 50px">
                        </td>
                        <td class="trans_td">
                            {{ pr.pk }}
                        </td>
                        <td class="trans_td">
                            {{ pr.name }}
                        </td>
                        <td class="trans_td">
{{ basket.customer.user.first_name }} {{ basket.customer.user.last_name }}
                        </td>
                        <td class="trans_td">
{{ number }} {{ pr.unit }}
                        </td>
                        <td class="trans_td">
                            {{ pr.price }} تومان
                        </td>
                        <td class="trans_td" style="width: 130px">
{{ basket.lastModified }}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>

    </div>
        <div style="margin-right: 400px;margin-top: 20px; ">
            مجموع فروش: {{ sum }} تومان
        </div>
{#        <button class="add-cart" style=" text-decoration:none; margin-right: 435px; margin-top: 20px;"type="button" onclick="chart()" >مشاهده نمودار فروش  </button>#}
    {% else %}
        <div style="margin-top: 50px; margin-right: 100px; font-size: 20px; font-weight: bold;">
            هیچ تراکنشی به ثبت نرسیده است.
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block crop-image %}
{% endblock %}
{% block js_very_end %}
    <script type="text/javascript" src="static/javascript/base.js"></script>
    <script type="text/javascript" src="static/javascript/add_product.js"></script>
    <script type="text/javascript">
        function chart(){
{#            window.location.replace('{% url 'ChartReport' %}');#}
        }
    </script>
{% endblock %}