{% extends 'AddProduct.html' %}
{% block title %}
    مشاهده تراکنش ها
{% endblock %}
{% block menu %}
    <div class="my_menu">
        <ul>
            <li class="li-header">
                بخش مدیریت اجناس
            </li>
            <li>
                <a href="{% url 'addProduct2' %}" style="color:ghostwhite; text-decoration: none">
                اضافه کردن محصول
                </a>
            </li>
            <li style="background-color: rosybrown">
                مشاهده تراکنش ها
                <i class="fa fa-arrow-left" style="margin-top: 3px; margin-right: 35px;"></i>
            </li>
            <li>
                <a href="{% url 'edit-products' %}" style="color:ghostwhite; text-decoration: none">
                    ویرایش محصولات
                </a>
            </li>
            <li>
                تعیین موجودی
            </li>
        </ul>
    </div>
{% endblock %}
{% block breadcrum %}
    <li>
        <span class="divider">/</span>
        <a href="{% url 'addProduct' %}">
            بخش مدیریت
        </a>
    </li>
    <li class="active">
        <span class="divider">/</span>
        مشاهده تراکنش ها
    </li>
{% endblock %}

{% block  producer_main %}
    <div class="pr-add-form" style="height: 430px;">
    <div class="pr-info-header">
        لیست تراکنش ها:
    </div>
    <div class="transaction-table" style="margin-top: 30px;max-height: 350px; overflow: auto; margin-left: 150px;margin-right: 100px;">
        <table class="table table-condensed" dir="rtl" style=" width: 800px;  ">
            <thead>
                <th class="trans_hd" style="width: 50px;">
                    ردیف
                </th>
                <th class="trans_hd">

                </th>
                <th class="trans_hd">
                    کد محصول
                </th>
                <th class="trans_hd">
                    نام محصول
                </th>
                <th class="trans_hd">
                    نام خریدار
                </th>
                <th class="trans_hd">
                    تعداد
                </th>
                <th class="trans_hd">
               تاریخ فروش
                </th>
            </thead>
            <tbody>
                <tr>
                    <td class="trans_td"  style="width: 50px;">
                        1
                    </td>
                    <td class="trans_td">
                        <img src="{{ STATIC_URL }}images/allstar.jpg" style="width: 50px;height: 50px">
                    </td>
                    <td class="trans_td">
                        94732
                    </td>
                    <td class="trans_td">
                        کفش آل استار
                    </td>
                    <td class="trans_td">
فرناز
                    </td>
                    <td class="trans_td">
2 جفت
                    </td>
                    <td class="trans_td">
92-10-8
                    </td>
                </tr>
                <tr>
                    <td class="trans_td"  style="width: 50px;">
2
                    </td>
                    <td class="trans_td">
                        <img src="{{ STATIC_URL }}images/4_12.jpg" style="width: 50px;height: 50px">
                    </td>
                    <td class="trans_td">
                        87421
                    </td>
                    <td class="trans_td">
پیراهن خیلی صورتی
                    </td>
                    <td class="trans_td">
مریم
                    </td>
                    <td class="trans_td">
1 عدد
                    </td>
                    <td class="trans_td">
92-10-8
                    </td>
                </tr>
                <tr>
                    <td class="trans_td"  style="width: 50px;">
                        3
                    </td>
                    <td class="trans_td">
                        <img src="{{ STATIC_URL }}images/ca4272_l.jpg" style="width: 50px;height: 50px">
                    </td>
                    <td class="trans_td">
                        43241
                    </td>
                    <td class="trans_td">
                        دستکش چرمی
                    </td>
                    <td class="trans_td">
عطیه
                    </td>
                    <td class="trans_td">
1 جفت
                    </td>
                    <td class="trans_td">
92-10-7
                    </td>
                </tr>
                <tr>
                    <td class="trans_td"  style="width: 50px;">
                        4
                    </td>
                    <td class="trans_td">
                        <img src="{{ STATIC_URL }}images/4_5.jpg" style="width: 50px;height: 50px">
                    </td>
                    <td class="trans_td">
                        98741
                    </td>
                    <td class="trans_td">
                        پالتو ومپایری
                    </td>
                    <td class="trans_td">
زرین
                    </td>
                    <td class="trans_td">
1 عدد
                    </td>
                    <td class="trans_td">
92-10-6
                    </td>
                </tr>
                <tr>
                    <td class="trans_td"  style="width: 50px;">
                        5
                    </td>
                    <td class="trans_td">
                        <img src="{{ STATIC_URL }}images/tie2.jpg" style="width: 50px;height: 50px">
                    </td>
                    <td class="trans_td">
                        53252
                    </td>
                    <td class="trans_td">
                        کراوات
                    </td>
                    <td class="trans_td">
علی
                    </td>
                    <td class="trans_td">
1 عدد
                    </td>
                    <td class="trans_td">
92-10-5
                    </td>
                </tr>
                <tr>
                    <td class="trans_td"  style="width: 50px;">
                        6
                    </td>
                    <td class="trans_td">
                        <img src="{{ STATIC_URL }}images/63521M.jpg" style="width: 50px;height: 50px">
                    </td>
                    <td class="trans_td">
                        43134
                    </td>
                    <td class="trans_td">
                        عطر گوچی
                    </td>
                    <td class="trans_td">
هادی
                    </td>
                    <td class="trans_td">
                        1 عدد
                    </td>
                    <td class="trans_td">
92-10-4
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
{% block crop-image %}
{% endblock %}